"__HOME__/.config/zellij/plugins/zj_which_key.wasm" {
    ChangeApplicationState
    ReadApplicationState
    MessageAndLaunchOtherPlugins
}
"__HOME__/.config/zellij/plugins/zellij-palette.wasm" {
    ChangeApplicationState
    OpenTerminalsOrPlugins
    ReadSessionEnvironmentVariables
    RunActionsAsUser
    Reconfigure
    ReadApplicationState
    RunCommands
    FullHdAccess
}
"__HOME__/.config/zellij/plugins/zjstatus.wasm" {
    ChangeApplicationState
    RunCommands
    ReadApplicationState
}
"__HOME__/.config/zellij/plugins/zellij-sessionizer.wasm" {
    ReadApplicationState
    ChangeApplicationState
    RunCommands
}
